/* $codebg='#F0FFF0'; */
@font-face{font-family:Fira Code;font-style:normal;font-weight:700;src:url(../fonts/FiraCode-Bold.woff) format("woff")}@font-face{font-family:Fira Code;font-style:normal;font-weight:500;src:url(../fonts/FiraCode-Medium.woff) format("woff")}@font-face{font-family:Fira Code;font-style:normal;font-weight:400;src:url(../fonts/FiraCode-Regular.woff) format("woff")}@font-face{font-family:Fira Code;font-style:italic;font-weight:700;src:url(../fonts/FiraCode-Light.woff) format("woff")}
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
body {
    font-family: helvetica, arial, sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #515050;
    font-size: 1em;
    line-height: 1.4;
}
a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
hr {
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

 p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}
* + p {
    margin: 0 0 15px;
}
 h1,h2,h3,h4,h5,h6 {
    color: #212121;
    line-height: 1.125;
    margin: 20px 0 12px;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.925em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1.125em;
}
h6 {
    font-size: .925em;
    text-transform: uppercase;
    color: #777777;
}
hr {
    height: 0.0625em;
    margin: 0 0 19px;
}
blockquote {
    padding: 20px 10px 10px 30px;
    font-family:georgia,serif;
    font-style: italic;
    background: #f9f9fa;
    position: relative;
    border-bottom: 3px dashed #939999;
}
blockquote:before {
    content:"\201C";
    font-size: 72px;
    margin-left: -10px;
    color: #939996;
    line-height: 0;
    position: absolute;
    left: 5px;
    top: 28px;
}
blockquote p {
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    margin-bottom: inherit;
    font-style: italic;
}
blockquote > h1,
blockquote > h2,
blockquote > h3 {
    margin-top: 0;
}
code, pre {
    font-family: "Fira Code", Monaco, Consolas, Andale Mono, Courier New, monospace;
}
code {border: 1px solid #ddd;}
code, pre code {
    background-color: #f9fdfd;
    color: #434343;
    font-size: inherit;
}
pre {
    margin: 0 0 18px;
    padding: 0;
    line-height: inherit;
    font-size: 16px;
    border-radius: 3px;
}
pre code {
    padding: 16px;
    display: block;
    border: 0 none;
}
ol, ul {
    padding-left: 40px;
}
li, li > ul, li > ol {
    margin: .0625em 0;
}
strong, b {
    font-weight: bold;
    color: #000;
}
.lang-console {
    background-color: #fffbd1;
    background-color: rgba(255, 251, 209, 0.85);
    background-color: #fefae4;
}

::selection {/* WebKit/Blink Browsers */
  background: orange;
  /* background: #ffb7b7; */
}
::-moz-selection { /* Gecko Browsers */
  /* background: #ffb7b7; */
  background: orange;
}

@media screen and (min-width: 768px) {
    body {
        /*width: 748px;*/
        width: 80%;
        margin:10px auto;
    }
}
